.content-text{
    color: rgb(230, 173, 50);
    font-size: 25px ;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;  
}
.content-header-logo{
    float: right;
}
.content-header-text{
    color: white;
}
.btn{
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 100%;
}
.reg-btn{
    background-color: #89799b;
}
.form-cointainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.highlite{
    color: #cda512;
}
.reg-text{
    font-size: 30px;
    font-weight: bolder;
}
.mb-2{
    margin-bottom: 20px;
}
ion-list{
    width: 100%;
}
.hydrated{
    color: white;
}
ion-checkbox {
    --size: 20px;
    --background-checked: #6815ec;
}  
ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
}