<ion-content class="content ion-padding" [fullscreen]="true">
  <div id="container">
    <ion-row>
      <ion-col class="content-header-text">
        <div (click)="gotoLogin()">Skip</div>
      </ion-col>
      <ion-col>
        <div class="content-header-logo">
          <img src="assets/images/small-logo.svg" width="50" height="50" />
        </div>
      </ion-col>
    </ion-row>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <div class="title">
          <h3 class="content-text">
          You stand to gain on every transaction
          </h3>
        </div>
        <div class="firstscreenimg">
          <img src="assets/images/firstScreen.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="title">
          <h3 class="content-text">
          On gainz discount become assets that grow over time
          </h3>
        </div>
        <div class="secondscreenimg">
          <img src="assets/images/secondScreen.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="title-list-imgs">
          <h3 class="content-text">
          Every Purchase on Gainz gets you
          </h3>
        </div>
        <div class="list-items">
          <div>
            <div>
              <img class="list-img" src="assets/images/gold.png" height="10" width="10" alt="">
            <div class="img-title">
              GOLD
            </div>
            </div>
            <div>
              <img class="list-img" src="assets/images/platinum.png" height="10" width="10" alt="">
            <div class="img-title">
              PLATINUM
            </div>
            </div>
            <div>
              <img class="list-img" src="assets/images/sliver.png" height="10" width="10" alt="">
            <div class="img-title">
              SLIVER
            </div>
            </div>
            <div>
              <img class="list-img" src="assets/images/bitcoin.png" height="10" width="10" alt="">
            <div class="img-title">
              CRYPTO
            </div>
            </div>
          </div>
          <small class="img-title">
            AS PER YOUR CHOICE...
          </small>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="title">
          <h3 class="content-text">
          Channelize your regular savings and accumulate savings
          </h3>
        </div>
        <div class="fourthscreenimg">
          <img src="assets/images/fourthScreen.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="title">
          <h3 class="content-text">
          Gift assets to your loved and deserving
          </h3>
        </div>
        <div class="fifthscreenimg">
          <img src="assets/images/fifthScreen.png" alt="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="title">
          <h3 class="content-text">
          Gainz platform
          </h3>
        </div>
        <div class="sixthscreenimg">
          <img class="image1"  src="assets/images/sixthScreen.png" alt="">
          <span class="textOnImg">gift assets gain on the go monetize discounts accumulate wealth attach memoried to gain</span>
          <img class="image2" src="assets/images/visuals.png" alt="">
        </div>
      </ion-slide>
    </ion-slides>
    </div>
</ion-content>
